build/
*.o
*.so
*.a
nightforge
webp_to_ascii
.vscode/
.clangd/
compile_commands.json
saves/
*.log
vscode-nightscript/
assets/scripts/test_basic.ns
assets/scripts/test_bool_while.ns
assets/scripts/test_comparison.ns
assets/scripts/test_countdown.ns
assets/scripts/test_functions_with_loops.ns
assets/scripts/test_nested_while.ns
assets/scripts/test_nil_while.ns
assets/scripts/test_simple_while.ns
assets/scripts/test_while.ns
vscode-extension/
*.nsc
float_test_big.ns
float_test.ns
func_test_big.ns
func_test.ns
host_test.ns
int_test.ns
perf_test_full.ns
perf_test_partial.ns
perf_test_with_functions.ns
perf_test_with_host.ns
simple_test.ns
string_test.ns
test_optimized_opcodes.ns
docs/
