# NightScript support
*.ns linguist-language=NightScript

# Make sure C++ is properly detected
*.cpp linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++

# Documentation
*.md linguist-documentation=true

# Exclude these files
build/* linguist-generated=true
*.o linguist-generated=true
*.a linguist-generated=true
stb_image.h linguist-vendored=true